<div class="justify-content-center">
    <div class="container-fluid">
        <h1>Literary Essays Rails</h1>

        <%= link_to "Login", login_path, :class => "btn btn-primary" %><br><br>
        <%= link_to "Signup", signup_path, :class => "btn btn-primary" %><br><br>
        <%= link_to "Sign In with Google", '/auth/google_oauth2', :class => "btn btn-primary" %>
    
    </div>
</div>