<h1>All Responses</h1>
    <% @responses.each do |response| %>
        <p>Responding to: <%= link_to response.essay.title, essay_path(response.essay) %></p>
        <p><%= response.user.name %> wrote:</p>
        <p><%= response.content %></p>
        <p><%= link_to "Response Show Page", response_path(response) %><p>
    <% end %>
