<h1>Essay Show Page</h1>

<h2><%= @essay.title %><h2>
<p><em><%= @essay.content %></em</p><br>
<%= link_to "Respond to this Essay", new_response_path %><brr>
<%= link_to "Edit Essay", edit_essay_path(@essay), if @essay.user == current_user %><br>